
.boxLog{
	position: absolute;
	top: 13%;
	left: 25%;
	width: 450px;
	height: 410px;
	background-color: #F8F8FF;
	z-index: 101;
	padding: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 2px 2px 2px #333333;
	-moz-box-shadow: 2px 2px 2px #333333;
	-webkit-box-shadow: 2px 2px 2px #333333;
	display: none;
}

.closeLog{
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

